body {
    background-color: #2a2ac7;
}
.main {
    margin: auto;
    margin-top: 200px;
    max-width: 350px;
}
button {
    background-color: white !important;
    width: 100%;
    color:  #2a2ac7 !important;
    font-weight: 600 !important;
}
small {
    color: white;
    cursor: pointer;
    text-decoration: underline;
}
input {
    color: white !important;
    background-color: transparent !important;
    font-family: Arial, FontAwesome;
}
input::placeholder {
    color: white !important;
}
dialog {
    position: fixed;
    margin: auto;
    top: 30%;
    z-index: 1;
    border-radius: 15px;
}
.popupbg {
    width: 100%;
    height: 100%;
    background-color: rgba(54, 54, 54, 0.65);
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
}
.x-circle {
    cursor: pointer;
}